<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>File Management System </h1>
    <p>Welcome to the file management system, a REST API for an easy to use google-like file system </p>
    <p>In this aplication you'll use HTTP methods. </p>
  </body>
</html>
